@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    </div>
<div class="text-center">
    
    <p>To login <a asp-controller="Account" asp-action="Login">Login</a>.</p>
</div>